.logging-container {
    height: 100px;
    border: 1px solid #CCCCCC;
    overflow-y: scroll
}

.logging-log {
    color: blue;
}

.logging-debug {
    color: pink;
}

.logging-error {
    color: red;
}

.environment {
    border: 1px solid #CCCCCC;
    height: 280px;
}

#code-box {
    height: 200px;
}

.red {
    color: #FF0000
}

.view {
    margin-top: 70px;
}